// Tamaños pantalla para breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Colores
$color-azul-texto: #264065;
$color-gris-texto: #909090;
$color-negro-texto: #070D15;
$color-fondo: #A9D6CB;
$color-fondo-secundario: #FAF8F5;

$color-azul-texto-hover: #60738e;

// Fuentes
$fuente-principal: "Poppins", sans-serif;
$sizeXL: 52px;
$sizeL: 28px;
$sizeM: 20px;
$sizeS: 14px;

